/*菜单页面*/
html,
body {
    background-color: #efeff4;
}
.mui-views,
.mui-view,
.mui-pages,
.mui-page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.mui-pages {
    top: 46px;
    height: auto;
}
.background{
    background-color: #efeff4;
}
.back{
    background-color:#333745
}
.mui-page.mui-transitioning {
    -webkit-transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
}
.mui-page-left {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.mui-ios .mui-page-left {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
}
.mui-navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    background-color: #f7f7f8;
}
.mui-navbar .mui-bar {
    position: absolute;
    background: transparent;
    text-align: center;
}
.mui-android .mui-navbar-inner.mui-navbar-left {
    opacity: 0;
}
.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
    opacity: 0;
}
.mui-navbar .mui-btn-nav {
    -webkit-transition: none;
    transition: none;
    -webkit-transition-duration: .0s;
    transition-duration: .0s;
}
.mui-navbar .mui-bar .mui-title {
    display: inline-block;
    width: auto;
}
.mui-page-shadow {
    position: absolute;
    right: 100%;
    top: 0;
    width: 16px;
    height: 100%;
    z-index: -1;
    content: '';
}
.mui-page-shadow {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}
.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
    -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
    transition: opacity 300ms ease, transform 300ms ease;
}
.mui-page {
    display: none;
}
.mui-pages .mui-page {
    display: block;
}
a:hover{
    list-style-type:none!important;
}
.list{
    border-bottom:1px solid #999!important;
}
.list p{
    font-size:14px;
}
.list a>.name{
    font-size:16px;
}
.mui-page .mui-table-view:last-child {
    margin-bottom: 30px;
}
.mui-table-view span.mui-pull-right {
    color: #999;
}
.mui-table-view-divider {
    background-color: #efeff4;
    font-size: 14px;
}
.mui-table-view-divider:before,
.mui-table-view-divider:after {
    height: 0;
}
.head {
    height: 40px;
}
#head {
    line-height: 40px;
}
.head-img {
    width: 40px;
    height: 40px;
}
#head-img1 {
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 40px;
    height: 40px;
}
.update {
    font-style: normal;
    color: #999999;
    margin-right: -25px;
    font-size: 15px
}
.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}
.mui-ios .mui-navbar .mui-bar .mui-title {
    position: static;
}
/*问题反馈在setting页面单独的css*/
#feedback .mui-popover{
    position: fixed;
}
#feedback .mui-table-view:last-child {
    margin-bottom: 0px;
}
#feedback .mui-table-view:first-child {
    margin-top: 0px;
}

.mui-plus.mui-plus-stream .mui-stream-hidden{
    display: none !important;
}


/*播放页面*/

.voice{
    width:290px;
    margin:20px auto;
}
.voice_icon{
  position: relative;
    top: -5px;
    width: 19px;
    height: 16px;
    background: url("../image/voice.png")no-repeat;
    float: left;
}
.voice_bar_out{
    border-radius: 7px;
    margin-left:20px;
    float: left;
    width: 210px;
    height: 7px;
    background:#9d9d9d;
}
.voice_bar_in{
    float: left;
    width: 198px;
    height: 100%;
    background: #ea2e49;
    border-radius: 7px;
}
.voice_btn{
    cursor: pointer;
    margin-top: -3px;
    width: 12px;
    height: 13px;
    background: url("../image/bat_btn.png") no-repeat;
    float:left
}
.cover{
    height:240px;
    width:240px;
    border-radius:50%;
    border:1px solid #ddd;
    margin:80px auto
}
@keyframes change {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
.bar{
   width:330px;
   margin:20px auto;
}
.bar span{
    display: inline-block;
    width: 40px;
    float: left;
    color: #fff;
    position: relative;
    top: -8px;}
.bar_out{
    border-radius: 7px;
    margin: 0 20px;
    float: left;
    width: 210px;
    height: 7px;
    background:#9d9d9d;
}
.bar_in{
    float: left;
    width: 10px;
    height: 100%;
    background: #ea2e49;
    border-radius: 7px;
}
.bar_btn{
    cursor: pointer;
    position: relative;
    margin-left: -11px;
    top: -3px;
    width: 12px;
    height: 13px;
    background: url("../image/bat_btn.png") no-repeat;
    float: left
}
.btn_box{
    width: 160px;
    margin:50px auto;
    background: #333745;
}
.btn_box a{
    display: inline-block;
    width: 48px;
    height: 48px;
}
.pev{
    background: url("../image/prev.png") no-repeat center 6px;
    background-size: 36px 36px;
}
.next{
    background: url("../image/next.png") no-repeat center 6px;
    background-size: 36px 36px;
}
.btn_box a:nth-child(2){
    background: url("../image/play.png") no-repeat;
    background-size:  48px 48px;
}
.icon{
    width:210px;
    margin:30px auto;
}
.icon>.mui-icon-extra-heart{
    font-size:30px;
}
.icon>span{
    color: #ffffff;
    margin-left:10px;
    font-size:35px;
}

#icon{
    width:85px;
    height:20px;
    display:inline-block;
    font-size:15px;
    color: #fff;
    float:left;
    margin-left:20px;
    margin-top: 15px;
}
i{
    font-size:13px;
    font-style: normal;
    margin-left:5px;
    font-family:DFKai-SB;
}

